/* Tooltip container */
.cryptip-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .cryptip-tooltip .cryptip-tooltiptext {
        visibility: hidden;
        width: 12em;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 999;
        top: 125%;
        left: 50%;
        margin-left: -6em;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 1s;
    }

        /* Tooltip arrow */
        .cryptip-tooltip .cryptip-tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .cryptip-tooltip:hover .cryptip-tooltiptext {
        visibility: visible;
        opacity: 1;
    }
