[class*="cryptip-"] {
    box-sizing: border-box;
}

.cryptip-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="cryptip-col-"] {
    float: left;
    padding: 15px;
}

.cryptip-col-1 {
    width: 8.33%;
}

.cryptip-col-2 {
    width: 16.66%;
}

.cryptip-col-3 {
    width: 25%;
}

.cryptip-col-4 {
    width: 33.33%;
}

.cryptip-col-5 {
    width: 41.66%;
}

.cryptip-col-6 {
    width: 50%;
}

.cryptip-col-7 {
    width: 58.33%;
}

.cryptip-col-8 {
    width: 66.66%;
}

.cryptip-col-9 {
    width: 75%;
}

.cryptip-col-10 {
    width: 83.33%;
}

.cryptip-col-11 {
    width: 91.66%;
}

.cryptip-col-12 {
    width: 100%;
}

.cryptip-container {
    min-width: 250px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cryptip-title {
    font-size:16px;

}

.cryptip-img-responsive {
    vertical-align: middle;
}

a.cryptip-link:link,
a.cryptip-link:visited {
    color:#ffffff;
}


.cryptip-price {
    font-size: 14px;
}

.cryptip-btc {
    color:#808080;
    font-size: 12px;
}

.cryptip-subtitle {
    font-size: 8px;
}

.cryptip-subvalue {
    font-size: 14px;
}

.cryptip-footer {
    font-size: 6px;
}