[class*="cryptip-"] {
    box-sizing: border-box;
}

.cryptip-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="cryptip-col-"] {
    float: left;
    padding: 10px;
}

.cryptip-col-1 {
    width: 8.33%;
}

.cryptip-col-2 {
    width: 16.66%;
}

.cryptip-col-3 {
    width: 25%;
}

.cryptip-col-4 {
    width: 33.33%;
}

.cryptip-col-5 {
    width: 41.66%;
}

.cryptip-col-6 {
    width: 50%;
}

.cryptip-col-7 {
    width: 58.33%;
}

.cryptip-col-8 {
    width: 66.66%;
}

.cryptip-col-9 {
    width: 75%;
}

.cryptip-col-10 {
    width: 83.33%;
}

.cryptip-col-11 {
    width: 91.66%;
}

.cryptip-col-12 {
    width: 100%;
}

.cryptip-container {
    min-width: 250px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cryptip-title {
    font-size: 16px;
}

.cryptip-img-responsive {
    vertical-align: middle;
}

.cryptip-price {
    font-size: 14px;
}

.cryptip-btc {
    color: #808080;
    font-size: 12px;
}

.cryptip-subtitle {
    font-size: 8px;
}

.cryptip-subvalue {
    font-size: 14px;
}

.cryptip-footer {
    font-size: 10px;
}

.tippy-tooltip.light-theme {
    background-color: #F5F5F5;
}

    .tippy-tooltip.light-theme .tippy-content {
        color: black;
    }

    .tippy-tooltip.light-theme .tippy-backdrop {
        background-color: #F5F5F5;
    }

    .tippy-tooltip.light-theme a.cryptip-link:link,
    .tippy-tooltip.light-theme a.cryptip-link:visited {
        color: black;
    }

.tippy-tooltip.dark-theme {
    background-color: #282828;
}

    .tippy-tooltip.dark-theme .tippy-content {
        color: white;
    }

    .tippy-tooltip.dark-theme .tippy-backdrop {
        background-color: #282828;
    }

    .tippy-tooltip.dark-theme a.cryptip-link:link,
    .tippy-tooltip.dark-theme a.cryptip-link:visited {
        color: white;
    }